@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dynamic-title {
    @apply text-8xl max-xl:text-7xl max-lg:text-6xl max-md:text-5xl font-bold font-header uppercase
  }

  .dynamic-heading {
    @apply text-5xl max-xl:text-4xl font-bold font-header uppercase
  }

  .dynamic-subheading {
    @apply text-4xl max-lg:text-3xl font-bold font-header uppercase
  }

  .input-field {
    @apply border-[1px] border-gray-300 p-1 outline-none font-title w-full
  }

  /* HIDE SCROLL BARS */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* ANIMATE WAVE ON SCROLL */

.wave path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 101s linear;
}

.wave.animate path {
  animation: draw 100s ease forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* ANIMATE WAVE ON SCROLL */