@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dynamic-heading {
    @apply text-5xl max-xl:text-4xl max-lg:text-3xl
    font-black font-title uppercase
  }

  .dynamic-subheading {
    @apply text-4xl max-lg:text-3xl max-md:text-2xl
    font-black font-title uppercase
  }

  .dynamic-text {
    @apply text-xl max-lg:text-lg
  }

  .input-field {
    @apply border-[1px] border-gray-300 p-1 outline-none font-title w-full
  }

  /* HIDE SCROLL BARS */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* FADE IN AND SLIDE UP ANIMATION */
@keyframes heroFadeInSlideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0); 
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.hero-fade-in-animation {
  opacity: 0;
  animation: heroFadeInSlideUp 0.7s ease-in-out forwards;
}

.fade-in-animation {
  opacity: 0;
  animation: fadeInSlideUp 1s ease-in-out forwards;
}